<footer>&copy Copyright <script>document.write(new Date().getFullYear())</script> |
    Made with
    <a href="https://deno.land/">
        <img width="25px" src="https://upload.wikimedia.org/wikipedia/commons/8/84/Deno.svg"  alt="Deno"/>
    </a>
</footer>
