<div class="card">
    <div id="user_detail">
        <% if (currentUser) { %>
            <span><%= currentUser.display_name %> | <a class="no_underline_link" href="/logout">Logout</a></span>
        <% } else { %>
            <span><a class="no_underline_link" href="/login">Login</a></span>
        <% } %>
    </div>
</div>

<div class="card card1">
    <p>Submit your Typescript focused blog below:</p>
    <form action="/submit" method="POST">
        <input type="url" placeholder="Submit link" name="link"/>
        <input type="submit" title="Submit link">
    </form>
</div>
