<div id="user_detail">
    <% if (currentUser) { %>
        <span><%= currentUser.display_name %> | <a class="no_underline_link" href="/logout">Logout</a></span>
        <% } else { %>
            <span><a class="no_underline_link" href="/login">Login</a></span>
    <% } %>
</div>
