<html>
    <head>
        <link rel="stylesheet" href="./style/home.css">
        <script type="text/javascript">
        const voteUp = async (id) => {
            let res = await fetch("./vote",
            { method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({id, value: 1})
            })

            if (res.status === 200) {
                let payload = (await res.json())
                document.getElementById(`vote-${id}`).innerHTML = payload.voteValue;
            }
        }

        </script>
    </head>
    <body>
        <header>
            <div id="title"><a href="./" class="no_underline_link">PlanetTypescript</a></div>
        </header>
        <main>
        <article>
            <nav>
                <a class="no_underline_link" href="./">Top</a> | Recent | Random
            </nav>
            <%- await include('views/partials/posts.ejs', {links, page}) %>
        </article>
        <aside>

        </aside>
        </main>
    <footer>Footer</footer>
    </body>
</html>
