<html>
    <head>
        <link rel="stylesheet" href="./style/home.css">
        <%- await include('views/partials/voter.ejs') %>
        <title>Home</title>
    </head>
    <body>
        <header>
            <div id="title"><a href="./" class="no_underline_link">PlanetTypescript</a></div>
        </header>
        <main>
        <article>
            <nav>
                <%- await include('views/partials/nav.ejs') %>
            </nav>
            <%- await include('views/partials/posts.ejs', {links, page}) %>
        </article>
        <aside>

        </aside>
        </main>
    <footer>Footer</footer>
    </body>
</html>
