<html>
<head>
    <link rel="stylesheet" href="./style/home.css">
    <%- await include('views/partials/ga.ejs') %>
    <title>Login</title>
</head>
<body>
<%- await include('views/partials/header.ejs') %>
<main>
    <article>
        <div>Voting requires login in</div>
        <hr/>
        <form action="/login" method=post>
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Login</button>
                <div class="form-links">
                    <a href="/register">Create new account</a><br/>
                    <a href="/reset">Reset forgotten password</a>
                </div>
            </div>
        </form>
    </article>
    <aside>

    </aside>
</main>
<%- await include('views/partials/footer.ejs') %>
</body>
</html>
