<html>
<head>
    <link rel="stylesheet" href="../style/home.css">
    <%- await include('views/partials/ga.ejs') %>
    <title>Operation successful - PlanetTypeScript</title>
</head>
<body>
<%- await include('views/partials/header.ejs') %>
<main>
    <article>
        <%= message %>
        <br/>
        Go to <a href="../">home</a>
    </article>
    <aside>

    </aside>
</main>
<%- await include('views/partials/footer.ejs') %>
</body>
</html>
