<html>
<head>
    <link rel="stylesheet" href="../style/home.css">
    <title>Home</title>
</head>
<body>
<header>
    <div id="title"><a href="./" class="no_underline_link">PlanetTypescript</a></div>
</header>
<main>
    <article>
        <%= message %>
        Go to <a href="../">home</a>
    </article>
    <aside>

    </aside>
</main>
<%- await include('views/partials/footer.ejs') %>
</body>
</html>
