<html>
    <head>
        <script type="text/javascript">
        </script>
    </head>

    <body>
        <% if (links.length > 0) { %>
          <% } else {%>
            No posts yet
        <% } %>
    </body>
    
</html>