<html>
<head>
    <link rel="stylesheet" href="../style/home.css">
    <%- await include('views/partials/ga.ejs') %>
    <title>Reset Password</title>
</head>
<body>
<%- await include('views/partials/header.ejs') %>
<main>
    <article>
        <div>Fill in your email to reset your password</div>
        <hr/>
        <form action="/reset" method=post>
            <div class="form-group">
                <span>Email</span>
                <input type="text" name="email" class="form-control" required>
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        </form>
    </article>
</main>
<%- await include('views/partials/footer.ejs') %>
</body>
</html>
