<!DOCTYPE html>
<html lang="en">
    <head></head>

    <body>
Submit RSS Link

<form action="/submit" method="POST">
    <input type="url" placeholder="submit link to rss feed" name="link"/>
    <input type="submit" title="Submit link">
</form>
</body>
</html>