<html>
<head>
    <link rel="stylesheet" href="./style/home.css">
    <%- await include('views/partials/ga.ejs') %>
    <title>Submit Blog - PlanetTypeScript</title>
</head>
<body>
<%- await include('views/partials/header.ejs') %>
<main>
    <article>
        <div>Submit a Typescript centric blog</div>
        <hr/>
        <form action="/submit" method="POST">
            <input type="url" placeholder="submit link to rss feed" name="link"/>
            <input type="submit" title="Submit link">
        </form>
    </article>
    <aside>

    </aside>
</main>
<%- await include('views/partials/footer.ejs') %>
</body>
</html>
