html, body {
    height: 100%;
    margin: 0;
}
body {
    /*background: url("../images/rocket-bg.png") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #fafafa;
    /* font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; */
    font-family: "helvetica neue", arial, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 1000px;
    /*background-color: #fefefe;*/
}

#logo {
    width: 65%;
}

.link_wrapper {
    display: flex;
    flex-direction: row;
}

.vote_wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.vote {
    text-align: center;
    padding-left: 2px;
}
.vote:hover {
    color: #333333;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #aaa;
    margin-left:3px
}

.arrow-up:hover {
    border-bottom: 7px solid #333;
}

.vote_wrapper {
    cursor: pointer;
}

.the_link {
    padding:8px 0 5px 5px;
    white-space: nowrap;
    overflow: hidden;
    width: 85%;
    text-overflow: ellipsis;
    line-height: 1.1em;
}

div.more {
    margin-top: 10px;
}

nav {
    margin-bottom: 10px;
}

.website {
    font-family: "helvetica neue", arial, sans-serif;
    background-color: #fffcd7;

    padding: 2px;
    font-size: 11px;
    border: #aaaaaa 1px solid;
}

.time_retrieved {
    font-family: "helvetica neue", arial, sans-serif;
    font-size: 11px;
    margin: 0 5px;
}

.the_link span {
    font-size: 11px;
    color: #666;
}

.no_underline_link {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-left:2.5%;
    gap: 51%;
}

header #title {
    font-weight: bolder;
} 

main {
    flex: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 0 0 30px;
}

main > article {
    /*flex: auto;*/
    overflow-y: scroll;
    background-color: white;
    padding:15px;
    width: 55%;
    border-radius: 5px;
    border: 1px solid #ccc;
    /*box-shadow: 4px 4px 5px #888888;*/
}

.form-group {
    margin:5px 0
}

.form-group label {
    display: inline-block;
    width: 10%;
}

.form-links a {
    display: inline-block;
    margin: 5px 0;
}

main > aside {
    width: 250px;
    margin-left: 10px;
    margin-right: 110px;
}

main > aside > .card {
    background-color: white;
    padding:15px;
    margin-bottom: 2px;
    border-radius: 5px;
    /*box-shadow: 6px 10px 5px #888888;*/
}

.card #user_detail {
    text-align: center;
}

.card1 {
    height: 100px;
}

footer {
    height: 30px;
    margin: 10px 0 10px 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 11px;
}



div#link_wrapper {
    display:flex
}

div#vote_wrapper {
    width:20px;
    border:0 solid black;
    padding-left:3px;
    padding-top:5px
}

.go_link {
    text-decoration: none;
    font-name: "helvetica neue", arial, sans-serif;
    font-size: 15.3333px;
    font-weight: 700;
    line-height: 19.3333px;
    color: rgb(37, 98, 220);
}

