html, body {
    height: 100%;
    margin: 0;
}
body {
    /* font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; */
    font-family: "helvetica neue", arial, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 1000px;
    background-color: #fefefe;
}

.link_wrapper {
    display: flex;
    flex-direction: row;
}

.vote_wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.vote {
    text-align: center;
    padding-left: 2px;
}
.vote:hover {
    color: #333333;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #aaa;
    margin-left:3px
}

.arrow-up:hover {
    border-bottom: 7px solid #333;
}

.vote_wrapper {
    cursor: pointer;
}

.the_link {
    padding:8px 0 0 5px;
}

.website {
    font-family: "helvetica neue", arial, sans-serif;
    background-color: #fffcd7;
    border-radius: 5px;
    padding: 2px;
    font-size: 11px;
    border: #aaaaaa 1px solid;
}

.website a {
    text-decoration: none;
}


header {
    height: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left:2.5%;
}

header #title {
    font-weight: bolder;
} 

main {
    flex: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

main > article {
    flex: auto;
    overflow-y: scroll;
    margin: 30px 0 0 30px;
}

main > aside {
    width: 450px;
}

footer {
    height: 25px;
}



div#link_wrapper {
    display:flex
}

div#vote_wrapper {
    width:20px;
    border:0 solid black;
    padding-left:3px;
    padding-top:5px
}



.go_link {
    text-decoration: none;
    font-name: "helvetica neue", arial, sans-serif;
    font-size: 15.3333px;
    font-weight: 700;
    line-height: 19.3333px;
    color: rgb(37, 98, 220)
}

