body {
    background-color: #fefefe;
    border-top: 5px solid #000;
    margin: 0px;
}


div#header {
    padding-top: 5px;
    padding-left: 5px;
}

ul#list_links {
    list-style: none;
}

ul#list_links li {
    margin: 10px;
}

.go_link {
    text-decoration: none;
}

